/* You can find an updated version here: https://github.com/Izheil/Quantum-Nox-Firefox-Dark-Full-Theme */
/* Made by Izheil */
/* Last updated: 14/02/2023 */

/* COLORING PART STARTS HERE */

/* GENERAL COLORS */
/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
/*
.editBMPanel_locationRow {
  display: initial !important;
}
*/

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
/*
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-sep-setbackground,
#context-setDesktopBackground {
  display: none !important;
}
*/

/* Changes default tab line color for built-in dark theme */
#main-window[lwtheme-mozlightdark] #tabbrowser-tabs, #main-window:not([lwtheme-image="true"]) #tabbrowser-tabs{
  --tab-line-color: rgb(0, 133, 221) !important;
}

/* Tab line color for lightweight themes. Using -moz-win-accentcolor as the color value changes it to the current window color (on Windows)
but is disabled by default in this theme. If you want to override your lightweight theme tab color, add !important after the color */
#tabbrowser-tabs {
  --tab-line-color: rgb(0, 133, 221);
}

*|*:root {
  /* These variable changes the scrollbars size and color. If you use the JS method instead, you don't need to change these.
  The scrollbars-width only has 3 acceptable values, auto, thin, and none:
  auto = default OS size | thin = half the width (will be hidden in about: pages) | none = hidden scrollbar */
  --scrollbars-width: thin !important;
  --scrollbars-thumb-color: #05a !important;
  --scrollbars-track-color: #252525 !important;
  
/* Selected tab lines */ 
.tab-background[selected]::before,
.tab-background[multiselected="true"]::before {
  border-radius: 5px;
  content: '';
  background-color: var(--tab-line-color);
  height: var(--tab-min-height) !important;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.6) 1%, transparent 50%, rgba(0,0,0,0.6) 99%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0% 88%, 2% 95%, 98% 95%, 100% 85%, 100% 20%, 98.5% 6%, 1.5% 6%, 0% 20%);
  z-index: 300;
  position: absolute;
  width: 100%;
}

/* hides the native tabs 
#TabsToolbar {
  visibility: collapse;
}
*/
